# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment files
*/tests/.env.db.auth.test
*/tests/.env.db.event.test
.env.auth
.env.event
.env
.env.local
*.env
.env.db.auth
.env.db.event

# Docker artifacts
*.log
*.pid
*.db
*.sqlite3
.dockerignore

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Node
node_modules/

# variable k8s
auth_service/k8s/secret.yml