# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
*/gallery_service/uploads/

# Environment files
*/tests/.env.db.auth.test
*/tests/.env.db.event.test
*/tests/.env.db.gallery.test
.env.auth
.env.event
.env.gallery
.env
.env.local
*.env
.env.db.auth
.env.db.event
.env.db.gallery

# Docker artifacts
*.log
*.pid
*.db
*.sqlite3
.dockerignore

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Node
node_modules/

# variable k8s
auth_service/k8s/secret.yml
event_service/k8s/secret.yml
gallery_service/k8s/secret.yml

# ------ Frontend ---------

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/
/build

# Environment Variables 
.env
.env*.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE & OS Rác
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Alembic
**/alembic/versions/__pycache__/
