# Cho Postgres container
POSTGRES_USER=your_posgres_user
POSTGRES_PASSWORD=your_posgres_password
POSTGRES_DB=your_posgres_db

# Cho FastAPI app
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_dbname
DB_HOST=your_db_host
DB_PORT=5432

# JWT
SECRET_KEY=your_jwt_secret
ALGORITHM=your_jwt_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30